[submodule "rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "third_party/graphnestingc"]
	path = third_party/graphnestingc
	url = https://bitbucket.org/unibogb/graphnestingc.git
[submodule "third_party/varsorter"]
	path = third_party/varsorter
	url = https://github.com/jackbergus/varsorter
[submodule "third_party/csv"]
	path = third_party/csv
	url = https://github.com/ben-strasser/fast-cpp-csv-parser
[submodule "third_party/yaucl"]
	path = third_party/yaucl
	url = https://github.com/datagramdb/yaucl
